body{              /*CORPO*/
    background-color: rgb(47, 143, 233);
    font: normal 15pt arial;
}
header{            /*CABEÇALHO*/
    color: white;
    text-align: center;

}

div{
    text-align: center;
    padding: 8px;
}

section{           /*SEÇÃO*/
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(31, 30, 30, 0.521);
    

}

footer{            /*RODAPÉ*/
    color: white;
    text-align: center;
    font-style: italic;
}